{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam praesentium odit recusandae ipsa, repellat fugit numquam aliquid eaque! Culpa reprehenderit ex corrupti saepe earum, exercitationem deserunt harum fugiat dolorem nostrum.</p>    
    <div><hello-word/></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam praesentium odit recusandae ipsa, repellat fugit numquam aliquid eaque! Culpa reprehenderit ex corrupti saepe earum, exercitationem deserunt harum fugiat dolorem nostrum.</p>


{% endblock %}
